pandas
plotly
streamlit
yfinance
pandas-datareader
prophet
statsmodels
matplotlib
scikit-learn
langchain
sentence-transformers
faiss-cpu
huggingface_hub
langchain-community
langchain-huggingface
google-generativeai
tabulate